.settings-row {
  background-color: #fff;
  justify-content: center;
  margin: auto;
}

.settings-row.content {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.settings-row:first-child {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-bottom: 0;
  padding-top: 1rem;
}

.settings-row.footer {
  border-bottom: 1px solid #d9d9d9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #f0f0f0;
  padding: 12px 24px;
}

.settings-row.footer .brand {
  text-align: end;
}

.settings-row .avatar {
  margin-bottom: 2rem;
  text-align: center;
}

.settings-row .button-submit {
  margin-top: 2rem;
}