.ant-form-inline .ant-form-item-has-error {
  margin-bottom: 0;
}

.ant-form.foreigners .ant-form-item {
  margin: 24px auto 0;
}

.statement-modal {
  min-width: 500px;
}

.statement-modal .ant-picker {
  width: 100%;
}

.statement-modal .ant-form-inline .ant-form-item {
  flex-grow: 1;
}