.ant-page-header {
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}

.ant-page-header-content {
  display: flex;
  padding: 12px 20px 0;
}

.ant-page-header-content img.logo {
  margin-bottom: 10px;
  margin-right: 30px;
  width: 36px;
}

.ant-page-header-content .ant-menu-submenu, .ant-page-header-content .ant-menu-submenu .ant-menu-title-content {
  display: flex;
}

.ant-page-header-content .ant-menu-submenu {
  align-items: center;
}

.app__affix-header {
  z-index: 99;
}