Django==3.2.4
graphene~=2.1.8
graphene-django==2.15.0
django-graphql-jwt==0.3.3
graphql-core==2.3.2
graphql-relay==2.0.1
psycopg2==2.9.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
sendgrid==6.8.1