.reservation-modal .ant-btn-dashed {
  border-color: green;
}

.reservation-modal .ant-modal-title {
  text-align: center;
}

.reservation-modal .roommate-list, .reservation-modal .roommate-list>.ant-space-item:first-child {
  width: 80%
}

.reservation-modal button.action.delete {
  float: left;
}

.reservation-modal button.action {
  width: 80px;
}