.reservation-modal .ant-btn-dashed {
  border-color: green;
}

.reservation-modal .ant-modal-title {
  text-align: center;
}

.reservation-modal .reservation-info {
  margin-bottom: 24px;
}

.reservation-modal .roommate-list, .reservation-modal .roommate-list>.ant-space-item:first-child {
  width: 100%
}

.reservation-modal .ant-col-xs-24 button.action {
  margin-bottom: 1.5em;
}

@media (min-width: 576px) {
  .reservation-modal .ant-col-xs-24 button.action {
    margin-bottom: .5em;
  }
}